<footer class="footer">
  <div class="pd-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 mt-md-0 mt-3">
          <div class="footer-logo">
            <%= image_tag "logo.png" %>
          </div>
          <p class="footer-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio excepturi nam totam sequi, ipsam consequatur repudiandae libero illum.</p>
        </div>
        <div class="col-lg-3 col-md-12 mt-md-0 mt-3 accordion">
          <ul class="nav flex-column">
            <li class="nav-item">
              <div class="footer-list-ttl d-flex align-items-center">
                <div>Helpful Links</div>
                <button class="btn btn-link col text-right" data-target="#collapse-menu1" data-toggle="collapse">
                  <i class="lg-block fas fa-chevron-down"></i>
                </button>
              </div>
              <ul id="collapse-menu1" class="collapse d-lg-block footer-list list-unstyled">
                <li><a href="" class="nav-link">Login</a></li>
                <li><a href="" class="nav-link">My Account</a></li>
                <li><a href="" class="nav-link">Add Listing</a></li>
                <li><a href="" class="nav-link">Privacy Policy</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 mt-md-0 mt-3 accordion">
          <ul class="nav flex-column">
            <li class="nav-item">
              <div class="footer-list-ttl d-flex align-items-center">
                <div>Category</div>
                <button class="btn btn-link col text-right" data-target="#collapse-menu2" data-toggle="collapse">
                  <i class="lg-block fas fa-chevron-down"></i>
                </button>
              </div>
              <ul id="collapse-menu2" class="collapse d-lg-block footer-list list-unstyled">
                <li><a href="" class="nav-link">Shop</a></li>
                <li><a href="" class="nav-link">Travel</a></li>
                <li><a href="" class="nav-link">Sport</a></li>
                <li><a href="" class="nav-link">Restaurant</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 mt-md-0 mt-3 accordion">
          <ul class="nav flex-column">
            <li class="nav-item">
              <div class="footer-list-ttl d-flex align-items-center">
                <div>Contact us</div>
                <button class="btn btn-link col text-right" data-target="#collapse-menu3" data-toggle="collapse">
                  <i class="lg-block fas fa-chevron-down"></i>
                </button>
              </div>
              <ul id="collapse-menu3" class="collapse d-lg-block footer-list list-unstyled">
                <li><i class="fas fa-map-marker-alt"></i> 13th North Ave, Florida, USA</li>
                <li><a href=""><i class="fas fa-envelope"></i> info@listagram.com</a></li>
                <li><i class="fas fa-phone"></i> +44 078 767 595</li>
                <ul class="footer-social-btns list-unstyled">
                  <li class="list-inline-item"><a href=""><i class="fab fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href=""><i class="fab fa-pinterest"></i></a></li>
                  <li class="list-inline-item"><a href=""><i class="fab fa-youtube"></i></a></li>
                  <li class="list-inline-item"><a href=""><i class="fab fa-dribbble"></i></a></li>
                </ul>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="w-100">
  <div class="container">
    <div class="footer-bottom">
      <div class="row align-items-center">
        <div class="col-lg-6 text-md-right">
          <ul class="text-side">
            <li class="list-inline-item"><a href="">Terms &amp; Condition</a></li>
            <li class="list-inline-item"><a href="">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="login.html">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="w-100">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <p>&copy; 2019 def sharing. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
