%footer#footer{"data-v-6bf351f6" => ""}
  .inner{"data-v-6bf351f6" => ""}
    /
      <nav data-v-6bf351f6="" class="upper">
      <div data-v-6bf351f6="" class="contents">
      <p data-v-6bf351f6="">CONTENTS</p>
      <div data-v-6bf351f6="" class="link"><a data-v-6bf351f6="" href="/teriyakist/" class="">
      一覧
      </a> <a data-v-6bf351f6="" href="/columns/" class="">
      コラム
      </a> <a data-v-6bf351f6="" href="/ranking/1" class="">
      ランキング
      </a> <a data-v-6bf351f6="" href="/newopen/" class="">
      新規OPEN店舗
      </a>
      </div>
      </div>
      <div data-v-6bf351f6="" class="user">
      <p data-v-6bf351f6="">USER</p>
      <div data-v-6bf351f6="" class="link">
      <a data-v-6bf351f6="" href="/user/registration" class="">
      会員登録
      </a><a data-v-6bf351f6="" href="/user/settings" class="">
      設定
      </a> <a data-v-6bf351f6="" href="/info" class="">
      お知らせ
      </a> <a data-v-6bf351f6="" href="/favorite/1" class="">
      行った/行きたい
      </a>
      </div>
      </div>
      </nav>
    %nav.lower{"data-v-6bf351f6" => ""}
      /
        <ul data-v-6bf351f6="">
        <li data-v-6bf351f6=""><a data-v-6bf351f6="" href="/about_us/concept" class="">
        TERIYAKIとは
        </a>
        </li>
        <li data-v-6bf351f6=""><a data-v-6bf351f6="" href="/about_us/deal" class="">
        特定商取引法に基づく表示
        </a>
        </li>
        <li data-v-6bf351f6=""><a data-v-6bf351f6="" href="/inquire/contact" class="">
        お問合せ
        </a>
        </li>
        <li data-v-6bf351f6=""><a data-v-6bf351f6="" href="/about_us/fq" class="">
        よくある質問
        </a>
        </li>
        <li data-v-6bf351f6=""><a data-v-6bf351f6="" href="/about_us/term" class="">
        利用規約
        </a>
        </li>
        <li data-v-6bf351f6=""><a data-v-6bf351f6="" href="/about_us/privacy" class="">
        プライバシーポリシー
        </a>
        </li>
        <li data-v-6bf351f6=""><a data-v-6bf351f6="" href="/about_us/cancel" class="">
        有料サービスの解約について
        </a>
        </li>
        </ul>
    %small.copyright ©2020 def.inc, ALL RIGHTS RESERVED
