<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg hamburger-menu">
      <%= link_to :root, class: "navbar-brand" do %>
        <h1><%= image_tag 'logo.png' %></h1>
      <% end %>
    </nav>
  </div>
</header>
