%section#top.container
  #content{"data-v-48728145" => ""}
    #new-appear{"data-v-48728145" => ""}
    #article{"data-v-48728145" => ""}
      .inner.clearfix{"data-v-48728145" => ""}
        #teriyaki{"data-v-48728145" => "", "data-v-79b2de20" => ""}
          %h3{"data-v-79b2de20" => ""} TERIYAKIコラム
          .list{"data-v-79b2de20" => ""}
            %ul{"data-v-79b2de20" => ""}
              - @listings.each do |listing|
                %li{"data-v-79b2de20" => ""}
                  %a{"data-v-79b2de20" => "", :href => listing_path(listing)}
                    .thumb{"data-v-79b2de20" => ""}
                      %img{:alt => "都内で絶品テイクアウトバーガーを食べるならここ！", "data-v-79b2de20" => "", :src => "https://img.teriyaki.me/ambassador_images/1899/ambassador/32a1362ef4878d72e04097c383db15c6a05cbf1f1.jpg?1586412214"}/
                    .detail{"data-v-79b2de20" => ""}
                      %p.title{"data-v-79b2de20" => ""}
                        = listing.name
                      %p.text{"data-v-79b2de20" => ""}
                        = listing.description&.truncate(30)
                      %p.date{"data-v-79b2de20" => ""}
                        = listing.created_at.strftime("%Y/%m/%d")
