<div class="pd-80">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-text-side">
          <span>About us</span>
          <h2>【いわていくあうと】とは</h2>
          <p>新型コロナウイルスの感染拡大の影響で、売り上げが減っている飲食店事業者を支援するアプリケーションです。</p>
          <p>制作会社: <%= link_to "def.inc", "https://de-f.net/" %></p>
          <p>クリエーター: <%= link_to "吉田智哉", "https://twitter.com/tomoya_y0shida" %></p>
          <p>掲載希望の場合は↓問い合わせまでお願いします</p>
          <p><%= link_to "お問い合わせ", "https://forms.gle/swa8kjGTCskRL2gv9", class: "btn p1" %></p>
        </div>
        <!-- about-text-side -->
      </div>
      <!-- col-md-6 -->
      <div class="col-md-6">
        <div class="about-img">
          <%= image_tag "about.png" %>
        </div>
      </div>
      <!-- col-md-6 -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- pd-80 -->
