.field_with_errors {
  input {
    @extend .is-invalid;
  }

  textarea {
    @extend .is-invalid;
  }
}

.form-group {
  .field_with_errors {
    label {
      font-size: 20px;
      font-weight: 500;
    }

    input {
      height: 50px;
    }
  }
}
